:root {
  --ff-primary: "Source Code Pro", monospace;
  --ff-secondary: "Press Start 2P", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-50: 8rem;
  --fs-100: 0.895rem;
  --fs-200: 0.9375rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.3759rem;
  --fs-550: 2rem;
  --fs-580: 2.22rem;
  --fs-600: 2.5rem;
  --fs-700: 3.5rem;
  --fs-800: 4.5rem;

  --clr-100: #536976;
  --clr-200: #e7eff7;
  --clr-300: #3e6e81b7;
  --clr-400: #768887;
  --clr-500: #303030;
  --clr-600:#101010;

  --clr-socials: #292e49;
  --bg-project-100: #536162;
  --bg-project-200:rgb(65, 65, 65);

  --borderClr-dark:var(--clr-200);
  --borderClr-light:var(--clr-300);
  --borderHoverCrl-light: var(--clr-200);
  --borderHoverCrl-dark: var(--clr-300);

  --clr-dark-100: rgb(33, 33, 33);
  --clr-dark-200: rgb(50, 50, 50);
  --clr-dark-300: rgb(65, 65, 65);

  --ff-logo: var(--ff-secondary);
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fs-body: var(--fs-200);
  --fs-primary-heading: var(--fs-700);
  --fs-logo: var(--fs-50);
  --fs-secondary-heading: var(--fs-600);
  --fs-nav: var(--fs-200);

  /*Background Colors  */
  --bg-light-100: var(--clr-100);
  --bg-light-200: var(--clr-200);

  --bg-dark-100: var(--clr-dark-100);
  --bg-dark-200: var(--clr-dark-200);

  /* Text Colors */
  --txtClr-white: var(--clr-200);
  --txtCrl-black: var(--clr-100);

  /* Ligth Mode: Default */
  --bgClr-header: var(--bg-light-100);
  --bgClr-main: var(--bg-light-200);
  --bgClr-footer: var(--bg-light-100);
  --txtClr-header: var(--txtClr-white);
  --txtClr-footer: var(--txtClr-white);
  --txtClr-main: var(--clr-500);

  --borderClr: var(--clr-200);

  --bg-socials: var(--clr-socials);
  --border-socials: var(--clr-socials);
  --bg-title: var(--clr-300);
  --border-title: var(--clr-400);

  --borderClr-img: var(--clr-500);

  --bg-project: var(--bg-project-100);

  --borderClr-link: var(--clr-500);
  --HoverCrl: var(--borderHoverCrl-light);

}

:root[color-scheme="dark"] {
  --bgClr-header: var(--bg-dark-100);
    --bgClr-main: var(--bg-dark-200);
    --bgClr-footer: var(--bg-dark-100);
    --txtClr-header: var(--txtClr-white);
    --txtClr-footer: var(--txtClr-white);
    --txtClr-main: var(--txtClr-white);

    --bg-socials: var(--clr-500);
    --border-socials: black;
    --bg-title: var(--clr-dark-200);
    --border-title: var(--clr-dark-300);

    --borderClr-img: var(--clr-600);

    --bg-project: var(--bg-project-200);

    --borderClr-link: var(--borderClr-dark);
    --HoverCrl: var(--borderHoverCrl-dark);

    color-scheme: dark;
}

@media (min-width: 400px) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-800);
    --fs-secondary-heading: var(--fs-700);
    --fs-nav: var(--fs-300);
  }
}



/*
  ====================================================
  #Resets: https://piccalil.li/blog/a-modern-css-reset
  ====================================================
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
  ========================================
  #Utility Classes
  ========================================
*/

.ff-logo {
  font-family: var(--ff-logo);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.bg-primary {
  background-color: var(--clr-100);
}

.bg-secondary {
  background-color: var(--clr-200);
}

.text-primary {
  color: var(--clr-200);
}

.text-secondary {
  color: #303030;
}

.fs-logo {
  font-size: var(--fs-logo);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}

.fs-100 {
  font-size: var(--fs--100);
}

.fs-200 {
  font-size: var(--fs--200);
}

.fs-300 {
  font-size: var(--fs--300);
}

.fs-400 {
  font-size: var(--fs--400);
}

.fs-500 {
  font-size: var(--fs--500);
}

.fs-600 {
  font-size: var(--fs--700);
}

.fs-800 {
  font-size: var(--fs--800);
}

.text-centre {
  text-align: center;
}

/*
  ========================================
  #General Styling
  ========================================
*/

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
}

main {
  overflow: hidden;
  background-color: var(--bgClr-main);
  color: var(--txtClr-main);
}

.container {
  --max-width: 1110px;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}


.primary-header {
  min-height: 100vh;
  background-color: var(--bgClr-header);
  color: var(--txtClr-header);
}






/*
  ========================================
  #Buttons
  ========================================
*/

button {
  background-color: transparent;
}

/*
  ========================================
  #Navigation
  ========================================
*/
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

.nav-list {
  font-size: var(--fs-500);
  font-weight: var(--fw-semi-bold);
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-list a {
  color: var(--clr-200);
  text-decoration: none;
}

@media (min-width: 400px) {
  .nav-link:hover {
    color: #54b3d6;
  }
}

.logo-wrapper {
  color: var(--clr-200);
}
.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding-top: 1rem;
}
.hamburger {
  display: none;
  padding: 0.8rem;
  border-style: solid;
  border-radius: 3rem;
  border-width: 0.12rem;
  margin-right: 1rem;
}
.bar {
  display: block;
  width: 1.56rem;
  height: 0.1875rem;
  margin: 0.3125rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-200);
}

.hamburger:hover {
  cursor: pointer;
}

.visually-hidden {
  display: none;
}

.visually-exposed{
  display: inline-block;
}

.mode-button {
  cursor: pointer;
  border-width: 0.1rem;
  border-style: solid;
  border-radius: 50%;
  border-color: var(--borderClr);
  height: 60px;
  width: 60px;
  margin-right: 0.8rem;
 
}

.moon-icon,
.sun-icon {
  width: 32px;
  height: 32px;
  margin: auto;
}


/*
  ========================================
  #Introduction Container
  ========================================
*/

.intro-container {
  font-size: var(--fs-550);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.main-pic {
  border-style: solid;
  border-radius: 1rem;
  border-color: var(--borderClr-img);
  border-width: 0.12rem;
  box-shadow: 0.3rem 0.3rem 0.4rem  var(--borderClr-img);

  order: 1;
}
.intro-title {
  font-size: var(--fs-500);
  background-color: var(--bg-title);
  display: inline-block;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: var(--border-title);
  padding: 0.6rem;
  margin-bottom: 2rem;
  text-align: center;
  order: 2;
}
.hand-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
}

@media (min-width: 840px) {

  
  .intro-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    row-gap: 0.11rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
  }

  .main-pic {
    grid-column: 1;
    grid-row: 1 / 3;
    z-index: 1;
  }

  .intro-text {
    font-size: var(--fs-secondary-heading);
    align-self: flex-start;
  }

  .intro-title {
    grid-column: 1 / 3;
    grid-row: 2;
    margin-bottom: 0;
    border-radius: 1rem 0.5rem 0.5rem 1rem;
    text-align: right;
  }

  .hand-icon {
    width: 55px;
    height: 60px;
  }
}

@media (max-width: 839px) {
  html,
  body {
    overflow-x: hidden;
  }
  .nav-list {
    display: none;
  }

  .mode-button {
    display: none;
  }

  .hamburger {
    display: block;
    margin-right: 0.2rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-list.active {
    display: block;
    position: fixed;
    top: 115px;
    left: 0.1px;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #303030;
    overflow-y: hidden;
    transition: 0.3s;
  }

  .nav-item {
    padding-block: 30px;
    border-style: solid;
    border-width: 0.1px;
    border-left: 0;
    border-right: 0;
    border-color: #536976;
  }

  .mode-button.active {
    display: block;
    position: absolute;
    top: 85vh;
    left: 45vw;
  }
}

/*
  ========================================
  #About-me
  ========================================
*/

.secondary-heading {
  padding-top: 10vh;
  text-align: center;
}

.about-me p {
  padding: 1rem;
}

@media (min-width: 400px) {
  .about-me p {
    padding: 2rem;
    font-weight: var(--fw-semi-bold);
  }
}

@media (max-width: 400px) {
  .heading-f-s {
    font-size: 29px;
  }
}

.terminal {
  color: var(--clr-200);
  border-color: var(--bgClr-main);
  border-style: solid;
  border-width: 0.1rem;
  margin-top: 6vh;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  word-wrap: break-word;
}

.terminal-head {
  display: flex;
  height: 1.5rem;
  border-radius: 0.4rem 0.4rem 0rem 0rem;
  border-style: solid;
  border-color: hsl(216, 43%, 34%);
  background-color: hsl(216, 43%, 34%);
}

.terminal-head-red {
  width: 10px;
  height: 10px;
  background: #ff5c5c;
  border-radius: 50%;
  margin-top: 0.3rem;
  margin-left: 0.6rem;
}

.terminal-head-yellow {
  width: 10px;
  height: 10px;
  background: #ffbd4c;
  border-radius: 50%;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
}

.terminal-head-green {
  width: 10px;
  height: 10px;
  background: #00ca56;
  border-radius: 50%;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
}

.terminal-body {
  padding: 1rem;
  border: 2px solid  #434c5e;
  background: #434c5e;
}

@media (min-width: 400px) {
  .terminal {
    max-width: 95%;
  }

  .terminal-head {
    display: flex;
    height: 2rem;
    border-radius: 1rem 1rem 0rem 0rem;
  }

  .terminal-head-red {
    width: 18px;
    height: 18px;
    margin-top: 0.4rem;
    margin-left: 0.6rem;
  }

  .terminal-head-yellow {
    width: 18px;
    height: 18px;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
  }

  .terminal-head-green {
    width: 18px;
    height: 18px;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
  }
}
@media (min-width: 400px) {
  .terminal {
    max-width: 95%;
  }

  .terminal-head {
    display: flex;
    height: 2rem;

  }

  .terminal-body {
    padding: 2rem;
    font-weight: 300;
    line-height: 1.6rem;
  }
  .terminal-head-red {
    width: 18px;
    height: 18px;
    margin-top: 0.4rem;
    margin-left: 0.6rem;
  }

  .terminal-head-yellow {
    width: 18px;
    height: 18px;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
  }

  .terminal-head-green {
    width: 18px;
    height: 18px;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
  }
}

.terminal-body-items {
  margin-bottom: 2rem;
}

.terminal-body-output {
  color: #e7d184;
  margin-top: 1rem;
}

.terminal-body-link {
  color: #e7d184;
  text-decoration: none;
}

.terminal-body-link:hover {
  color: var(--clr-200);
}

/*
  ========================================
  #Prrojects
  ========================================
*/

.projects {
  margin-top: 3vh;
  padding-top: 5rem;
}

.project {
  background-color: var(--bg-project);
  border-color: var(--bg-project);
  border-width: 0.1rem;
  border-style: solid;
  border-radius: 1.5rem;
  color: var(--txtClr-white);
  font-weight: var(--fw-semi-bold);
  margin-bottom: 10vh;
}

.project-content {
  padding: 1.5rem;
  font-size: 1rem;
}

.project-img {
  width: 287px;
  height: 245px;
  margin-inline: auto;
  margin-top: 2rem;
  border-radius: 1rem;
}

.project-name {
  font-size: 24px;

  margin-bottom: 1rem;
}

.project-description {
  margin-bottom: 1rem;
}

.project-stack {
  list-style: none;
  margin-bottom: 1.6rem;
}
.project-item {
  padding-left: 2rem;
  background-image: url(../assets/arrow.svg);
  background-position: 0 0;
  background-size: 1.3rem 1.3rem;
  background-repeat: no-repeat;
 
}

.link-text {
  display: none;
}

.link {
  border-color: var(--borderClr-link);
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.4rem;
  padding: 0.1rem;
}

.project-links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}


@media (min-width: 600px) {
  .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    font-weight: var(--fw-regular);
  }

  .project-content {
    font-size: 1.2rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .project-img {
    width: 465px;
    height: 395px;
    margin: 0;
  }

  .project-name {
    font-size: 32px;
    font-weight: var(--fw-bold);
  }


  .project-links {
    justify-content: start;
    gap: 1rem;
  }

  .link-text {
    display: inline-block;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 0.2rem;
    color: var(--txtClr-white);
  }

  .link:hover {
    border-color: var(--HoverCrl);
    border-width: 0.12rem;
  }

  .link-svg {
    display: none;
  }
}

@media (max-width: 950px) {
  .project {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .project-img {
    width: 90%;
    margin-inline: auto;
  }

  .project-content {
    width: 90%;
    margin-inline: auto;
    padding-inline: 0;
  }
}

@media (min-width: 1060px) {
  .project-links {
    position: relative;
  }

  .project0 .project-links{
    bottom: -95px;
  }

  .project1 .project-links {
    bottom: -39px;
  }

  .project2 .project-links {
    bottom: -10px;
  }

  .project3 .project-links {
    bottom: -70px;
  }
}

/*
  ========================================
  #Footer
  ========================================
*/

.footer {
  padding-top: 1rem;
  min-height: 30vh;
  position: relative;
  background: var(--bgClr-footer);
  color: var(--txtClr-footer);
}



.socials-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-block: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.socials {
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 50%;
  border-color: var(--border-socials);
  padding: 0.5rem;
  background-color: var(--bg-socials);
}

.copyright {
  font-size: var(--fs-100);
  padding-left: 0.7rem;
  position: absolute;
  bottom: 0rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.copyright p {
  text-align: center;
}
@media (min-width: 400px) {
  .socials-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .socials:hover {
    background-color: var(--clr-100);
    border-color: var(--clr-100);
  }
}

@media (min-width: 400px) {
  .footer.active,
  .primary-header.active {
    background: -webkit-linear-gradient(to left, #292e49, #536976);
    background: linear-gradient(to left, #292e49, #536976);
  }
} 
