*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
body{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2em;
    line-height: 150%;
    background-color:  #e7eff7;;
}

h1,
h2,
h3{
    margin: 0;
    
}

/*
  ========================================
  Navigation
  ========================================
*/


.nav{
    position: fixed;
    width: 100%;
    text-align: right;
    background: #536976; 
    background: -webkit-linear-gradient(to left, #292E49, #536976);
    background: linear-gradient(to left, #292E49, #536976);
}

.nav ul{
    padding: 12px 20px;
}

.nav li{
    display: inline-block;
}

.nav a{
    color: #fff;
    text-decoration: none;
    padding-right: 20px;
    border-right: 1px solid rgba(0, 0, 0, .3);
}

.nav a:hover{
    color:  #536976;
}

.nav li:first-child a{
    border-left: 1px solid rgba(0, 0, 0, .3);
    padding-left: 20px;
}

/*
  ========================================
  INTRODOCTION
  ========================================
*/

.introduction{
  padding-top: 10.5rem;
  
}

.introduction h1{
    float: right;
}

/*
  ========================================
    ABOUT ME
  ========================================
*/

.about-me{
    clear: left;
}